.bg-container{
  background-color: #3a6781;
  height: 100vh;
  padding: 30px;
}
.heading{
  font-size: 36px;
  font-family: "Roboto";
  color: white;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
.list-container{
  background-color: white;
  border-radius: 6px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 45px;
  padding-right: 45px;

}
.delivery-text{
  font-size: 16px;
  color: white;
  font-family: "Roboto";
}